
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESHACK BWIRE - Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>

{% extends "base.html" %}

{% block page_content %}
<html lang="en">
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="intro">
        <h1>Welcome to My Portfolio</h1>
        <p>Hello, I'm Meshack Bwire, a Software Engineer specializing in Point of Sale (POS) systems. I contribute to the design and development of payment solutions applications for Co-operative Bank of Kenya, Quantum (Ethiopia), and Commercial Rural Development Bank, enabling seamless transactions and enhancing customer experiences. I actively research and recommend innovative solutions to enhance Tracom Services Limited's software offerings and competitive edge. Let's explore my work and connect!</p>
    </section>
    <section id="contact">
        <h2>Contact Me</h2>
        <p>If you'd like to get in touch or discuss potential collaborations, feel free to contact me:</p>
        <ul>
            <li>Email: <a href="mailto:bmwandera14@gmail.com">bmwandera14@gmail.com</a></li>
            <li>Phone: <a href="tel:+254794142204">+254794142204</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/meshackbwire">LinkedIn Profile</a></li>
        </ul>
    </section>
</body>
</html>
{% endblock page_content %}